@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --bg-primary: #dedede;
  --bg-secondary: #;
  --bg-tertiary: #;
  --dark-bg-primary: #212121;
  --dark-bg-secondary: #303030;
  --dark-bg-tertiary: #414141;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}